@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

:root{
    --prymary-font: 'Open Sans', sans-serif;
    --prymary-color: rgb(4, 106, 134);
    --secundary-color: rgb(22, 99, 112);
}

body, html{
    height: 100%;
    background-color: var(--prymary-color);
    font-family: var(--prymary-font);
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 40rem;
    margin: 3.1rem auto;
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: .7rem;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form input{
    font-size: 1.5rem;
    height: 3.1rem;
    padding: 0 1.2rem;
}

form input:focus{
    outline: 1px solid var(--prymary-color);
}

form button{
    border: none;
    background-color: var(--prymary-color);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    margin-top: 2rem;
}

form button:hover{
    background-color: var(--secundary-color);
}

